<footer class="footer">
    <p class="footer__title">Aakash Prajapati</p>
    <div class="footer__social">
        <a href="https://www.facebook.com/aakash.prajapati.92798072/" class="footer__icon"><i
                class='bx bxl-facebook'></i></a>
        <a href="https://www.instagram.com/aakash.prajapati.20/" class="footer__icon"><i
                class='bx bxl-instagram'></i></a>
        <a href="https://twitter.com/i_am_aakash_20" class="footer__icon"><i class='bx bxl-twitter'></i></a>
    </div>
    <p>&#169; 2021 copyright all right reserved</p>
</footer>