<section class="about section " id="about">
    <h2 class="section-title">About Me</h2>

    <div class="about__container bd-grid">
        <div class="about__img">
            <img src="img/about.jpg" alt="">
        </div>

        <div>
            <h2 class="about__subtitle">I am Aakash</h2>
            <p class="about__text">I have completed my higher secondary education in India, and right now, I am pursuing
                the Computer Programming Analysis program at Georgian College. I have a good knowledge of many back-end
                programming languages like Java, PHP, and .NET with some experience in front-end computer programming
                languages like HTML, CSS, JS.</p>

            <a href="https://drive.google.com/file/d/1D6SBBtb-r3r_EfHmm3rN0u5HWXAUpezl/view?usp=sharing">
                <br>
                <button class="button">
                    Download resume
                </button>
            </a>
        </div>
    </div>
</section>