<section class="contact section" id="contact">
    <h2 class="section-title">Contact</h2>

    <div class="contact__container bd-grid">
        <form action="mailto:aakash.prajapati@mygeorgian.ca" method="POST" enctype=”multipart/form-data”
            class="contact__form">
            <input type="text" placeholder="Name" class="contact__input">
            <input type="mail" placeholder="Email" class="contact__input">
            <textarea name="" id="" placeholder="Purpose of contacting" cols="0" rows="10"
                class="contact__input"></textarea>
            <input type="submit" value="Submit" class="contact__button button">
        </form>
    </div>
</section>