<main class="l-main">
  <section class="home bd-grid" id="main">
    <div class="home__data">
      <h1 class="home__title">Hi,<br />I am
        <span class="home__title-color">Aakash,</span><br />a Computer<br />
        Programmer</h1>
      <a href="contact" class="button">Contact</a>
    </div>

    <div class="home__social">
      <a
        href="https://www.linkedin.com/in/aakash-prajapati-356550199/"
        class="home__social-icon"
      ><i class="bx bxl-linkedin"></i></a>
      <a href="https://github.com/aakuprajapati" class="home__social-icon"><i
          class="bx bxl-github"
        ></i></a>
    </div>

    <div class="home__img">
      <img src="img/profile.jpg" alt="me" />
    </div>
  </section>

</main>